body{
    background: #bcbcbc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #555;
    background-color: white;
}
.navbar-nav{
    margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #337ab7;
}
.navbar-default{
    background-color: #337ab7;
    border-color: #337ab7;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-toggle{
    background-color: #ddd;
}